{% extends 'base.html' %}

{% load static %}

{% block title %}Food Tracker | {{ title }}{% endblock %}

{% block body %}
<div class='py-4 mt-auto'>
  <div class='container-fluid px-4'>
    <div>
      <div class='card bg-secondary mb-3' style="max-width: 600px; margin: 0 auto;">
        <div class='card-body'>
          <form action="{% url 'add_daily_exercise_cofig' exercise=exercise %}" method="post">
            {% csrf_token %}
            <div class='d-flex flex-column w-100 justify-content-between mb-3'>
              <label for="burned_calories">Calories brûlées :</label>
              <input type="number" name="burned_calories" id="burned_calories" class="form-control"
                value="{{ aliment.weight_g|floatformat:" 0" }}" required>
            </div>
            <div class='d-flex flex-row-reverse mb-1'>
              <button type='submit' class='btn btn-primary'>Enregistrer</button>
              <a href="{% url 'dashboard' %}" class="btn btn-outline-dark me-2">Annuler</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}