{% extends 'base.html' %}

{% block title %}Food Tracker | {{ title }}{% endblock %}

{% block navbar %}
<ul class='navbar-nav ms-auto'>
  <li class='nav-item'>
    <a class='nav-link' href="{% url 'logout' %}">
      <i class='fas fa-sign-out-alt'></i> Se déconnecter
    </a>
  </li>
</ul>
{% endblock navbar %}

{% block body %}

<div class='py-4 mt-auto'>
  <div class='container px-4'>

    <!-- {% if success %}
        <br>
        <div class='alert alert-dismissible alert-success' role='alert'>
            <button type='button' class='btn-close' data-bs-dismiss='alert'></button>
            The new food item added successfully.
        </div>
        {% else %} -->
    <div class='d-flex flex-column justify-content-center align-items-center'>
      <div>
        <h3>Veuillez compléter la configuration</h3>
      </div>
      <div>
        <h3>de votre profil</h3>
      </div>
    </div>
    <!-- <div class='d-flex justify-content-center'>
            <p>Enter the details of a new food item</p>
        </div> -->

    <div class='row'>
      <div class='col-lg-6 offset-lg-3'>
        <div class='card bg-secondary mb-3'>
          <div class='card-body'>

            <div class='form-group'>
              <form action="{% url 'category_add' %}" method='POST'>
                {% csrf_token %}
                <div class='form-group'>
                  <!-- {{ form.as_p }} -->
                  {% for field in form %}
                  <p>
                    {{ field.label_tag }} {{ field }}
                    {% for error in field.errors %}
                  <div id="emailHelp" class="form-text text-danger">{{ error }}</div>
                  {% endfor %}
                  </p>
                  {% endfor %}
                  <button type='submit' class='btn btn-primary'>Enregistrer</button>
                  <a href="{% url 'categories' %}" class='btn btn-outline-dark'>Annuler</a>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</div>

{% endblock body %}