{% extends 'base.html' %}
{% load static %}

{% block title %}TriFeul+ | {{ title }}{% endblock %}

{% block styles %}
<style>
  .hero_container {
    height: 600px;
/*    background-image: url("{% static 'images/index_hero_image.jpg' %}");*/
    margin-bottom: 40px;
    background: linear-gradient(to bottom, #3459e6, lightblue, white);
  }
  .hero_text_container {
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    font-size: 10rem;
    color: #ffffff;
  }
  .section-title-cmnd {
    font-size: 4rem;
    color: #3ca1da;
    font-weight: 600;
  }
  .login-dialog {
    width: 900px;
    height: 400px;
    background-color: #ffffff;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 200px;
  }
</style>
{% endblock %}

{% block superbody %}

<div class="hero_container d-flex justify-content-between align-items-center p-4">
  <!-- <div class="d-flex align-items-center justify-content-center hero_text_container">
    TriFeul+
  </div> -->
  <div style="font-size: 5rem;color: #ffffff;">
    Connexion
  </div>
  <div>
    <div class="login-dialog d-flex flex-column align-items-center justify-content-center p-4">
      <div style="font-size: 2rem;">Connexion</div>
      <div>
        <form action="{% url 'login' %}" method='post'>
        {% csrf_token %}
        <div class="d-flex">
          <div class="form-group me-4">
          <label for='inputUsername' class='form-label mt-4'>
          Nom d'utilisateur
          </label>
          <input type='text' name='username' class='form-control' id='inputUsername' placeholder='Enter username' autofocus>
        </div>
        <div class='form-group'>
          <label for='inputPassword1' class='form-label mt-4'>
          Mot de passe
          </label>
          <input type='password' name='password' class='form-control' id='inputPassword1' placeholder='Enter password'>
        </div>
        </div>
        <div class='form-group mt-4 d-flex justify-content-end' style="width: 100%;">
                  <button type='submit' class='btn btn-primary'>
                    Connexion
                  </button>
                </div>  
      </form>
      </div>
    </div>
  </div>
</div>

<main class="container">
  <div class="section-container d-flex align-items-center" style="margin-bottom: 100px;">
    <div style="margin-right: 90px;">
      <div class="section-title-cmnd">CMND</div>
      <div style="text-align: justify;">
        CMND est un Club Municipal de Natation Dcheira El Jihadia à Agadir sous la Fédération Royale Marocaine de Triathlon, dédiée à la pratique et à la promotion du triathlon. Il rassemble des athlètes de tous niveaux, des débutants aux compétiteurs expérimentés, qui partagent une passion commune pour ce sport multidisciplinaire. Il offre un environnement favorable à l'entraînement et à la compétition, en mettant l'accent sur les trois disciplines du triathlon : la natation, le cyclisme et la course à pied. Il dispose de piscines et d’un espace de cyclisme qui permettent aux membres de s'entraîner dans des conditions optimales.
      </div>
    </div>
    <div>
      <img src="{% static 'images/cmnd.png' %}" alt="cmnd-logo">
    </div>
  </div>

  <div class="section-container d-flex flex-column align-items-center" style="max-width: 600px; margin:0 auto;">
    <img src="{% static 'images/frmt.jpg' %}" alt="frmt-logo" style="margin-bottom: 30px">
    <div style="text-align: justify;">
      La Fédération Royale Marocaine de Triathlon a pour but de développer, de promouvoir et d’encadrer le triathlon au Maroc son Président est Monsieur Mjid AMAHROQ.
    </div>
  </div>
</main>

{% endblock %}