{% extends 'base.html' %}

{% block title %}Food Tracker | {{ title }}{% endblock %}

{% block styles %}
<style>
  main {}
</style>
{% endblock styles %}

{% block body %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-4" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<div class="mt-4 mb-4 d-flex align-items-center justify-content-between">
  <h4>Liste des triathletes</h4>
  <a href="{% url 'athlete_add' %}" class="btn btn-primary"><i class='far fa-plus-square'></i> Ajouter un
    triathlete</a>
</div>

<table class="table caption-top">
  <thead class="table-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom d'utilisateur</th>
      <th scope="col">Prénom</th>
      <th scope="col">Nom</th>
      <th scope="col">Sexe</th>
      <th scope="col">Poids</th>
      <th scope="col">Hauteur</th>
      <th scope="col">Calories quotidiennes</th>
      <th scope="col" class="text-center">Modifier</th>
      <th scope="col" class="text-center">Supprimer</th>
      <th scope="col" class="text-center">Aujourd'hui</th>
      <th scope="col" class="text-center">Historique</th>
    </tr>
  </thead>
  <tbody>
    {% for atl in triathlete %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>
        <a href="{% url 'athlete_profile' pk=atl.user.id %}">{{ atl.user.username }}</a>
      </td>
      <td>{{ atl.user.last_name }}</td>
      <td>{{ atl.user.first_name }}</td>
      <td>{{ atl.gender|default:'-' }}</td>
      <td>{{ atl.weight|default:'-' }}</td>
      <td>{{ atl.height|default:'-' }}</td>
      <td>{{ atl.depense_energetique_journaliere|default:'-' }}</td>
      <td class="text-center">
        <a class="btn btn-primary" href="{% url 'athlete_edit' pk=atl.user.id %}">
          <i class='fas fa-edit'></i>
        </a>
      </td>
      <td class="text-center">
        <a class="btn btn-danger" href="{% url 'athlete_delete' pk=atl.user.id %}">
          <i class="fas fa-solid fa-trash"></i>
        </a>
      </td>
      <td class="text-center">
        <a class="btn btn-primary mb-2" href="{% url 'athlete_daily_food_today_details' pk=atl.user.id %}">
          <i class="fas fa-calendar-day"></i>
        </a>
      </td>
      <td class="text-center">
        <a class="btn btn-primary" href="{% url 'athlete_daily_food_history' pk=atl.user.id %}">
          <i class="fas fa-history"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock body %}